{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-none" id="current-genome" data-label="{{ currentGenomeLabel }}"></div>
    <div class="row" style="max-height: 60vh; overflow-y: auto">
        <div class="col">
            <table class="table">
                <thead style="position: sticky; top: 0; z-index: 1;background:#eee;">
                <th>Genome</th>
                <th>DTW distance</th>
                <th>Chart</th>
                </thead>
                <tbody>
                {% for key, value in alignCosts %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <td>
                            <button data-label="{{ key }}" class="btn btn-dark showChart"><i
                                        class="fas fa-chart-area"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Genome A
                                </div>
                                <div class="card-body">
                                    <h6 id="genomeALabel"></h6>
                                    <div id="sequenceAContainer"
                                         style="width: 100%; overflow-x: auto; overflow-y: hidden">
                                        <div id="sequenceAInnerContainer" style="height: 300px">
                                            <canvas id="sequenceA" height="300" width="0"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Genome B
                                </div>
                                <div class="card-body">
                                    <h6 id="genomeBLabel"></h6>
                                    <div id="sequenceBContainer"
                                         style="width: 100%; overflow-x: auto; overflow-y: hidden">
                                        <div id="sequenceBInnerContainer" style="height: 300px">
                                            <canvas id="sequenceB" height="300" width="0"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h2>Total calculation time: {{ totalTime }} s</h2>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h2>Total DTW cycles: {{ totalDtwCycles }}</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col"></div>
        <div class="col-6 text-center">
            <a href="/" class="btn btn-primary">
                <i class="fas fa-chevron-left"></i>
                Back to Start
            </a>
        </div>
        <div class="col"></div>
    </div>

    <script src="js/chart.js"></script>
    <script>
        const genomeALabel = $('#current-genome').data('label')
        let currentGenomeBLabel;
        let chartSeqA = '1';
        let chartSeqB = '2';
        $(function () {
            $('.showChart').click(function () {
                if (chartSeqA !== '1') {
                    chartSeqA.destroy();
                }
                if (chartSeqB !== '2') {
                    chartSeqB.destroy();
                }
                currentGenomeBLabel = $(this).data('label');
                $.post("chart-data", {chartA: genomeALabel, chartB: currentGenomeBLabel},
                    function (data) {
                        $('#sequenceAInnerContainer').width(20 * data.labelsA.length);
                        $('#sequenceBInnerContainer').width(20 * data.labelsB.length);
                        $('#genomeALabel').text(genomeALabel)
                        $('#genomeBLabel').text(currentGenomeBLabel)
                        const dataSequenceA = {
                            labels: data.labelsA,
                            datasets: [data.datasetA]
                        };
                        const dataSequenceB = {
                            labels: data.labelsB,
                            datasets: [data.datasetB]
                        };

                        const configA = {
                            type: 'line',
                            data: dataSequenceA,
                            options: {
                                scales: {
                                    x: {
                                        display: false
                                    },
                                    y: {
                                        ticks: {
                                            callback: function (label) {
                                                switch (label) {
                                                    case {{ nucleobases.cytosine }}:
                                                        return 'C';
                                                    case {{ nucleobases.guanine }}:
                                                        return 'G';
                                                    case {{ nucleobases.adenine }}:
                                                        return 'A';
                                                    case {{ nucleobases.thymine }}:
                                                        return 'T';
                                                }
                                            }
                                        }
                                    }
                                },
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    tooltip: {
                                        displayColors: false,
                                        callbacks: {
                                            // use label callback to return the desired label
                                            label: function (context) {
                                                let label = 'Index ';
                                                if (context.parsed.y !== null) {
                                                    label += context.parsed.x + ': ';
                                                    switch (context.parsed.y) {
                                                        case {{ nucleobases.cytosine }}:
                                                            label += 'Cytosine'
                                                            break;
                                                        case {{ nucleobases.adenine }}:
                                                            label += 'Adenine'
                                                            break;
                                                        case {{ nucleobases.thymine }}:
                                                            label += 'Thymine';
                                                            break;
                                                        case {{ nucleobases.guanine }}:
                                                            label += 'Guanine'
                                                            break;

                                                    }
                                                }
                                                return label;
                                            },
                                            // remove title
                                            title: function () {
                                                return '';
                                            }
                                        }
                                    },
                                }
                            }
                        };

                        const configB = {
                            type: 'line',
                            data: dataSequenceB,
                            options: {
                                scales: {
                                    x: {
                                        display: false
                                    },
                                    y: {
                                        ticks: {
                                            callback: function (label) {
                                                switch (label) {
                                                    case {{ nucleobases.cytosine }}:
                                                        return 'C';
                                                    case {{ nucleobases.guanine }}:
                                                        return 'G';
                                                    case {{ nucleobases.adenine }}:
                                                        return 'A';
                                                    case {{ nucleobases.thymine }}:
                                                        return 'T';
                                                }
                                            }
                                        }
                                    }
                                },
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    tooltip: {
                                        displayColors: false,
                                        callbacks: {
                                            // use label callback to return the desired label
                                            label: function (context) {
                                                let label = 'Index ';
                                                if (context.parsed.y !== null) {
                                                    label += context.parsed.x + ': ';
                                                    switch (context.parsed.y) {
                                                        case {{ nucleobases.cytosine }}:
                                                            label += 'Cytosine'
                                                            break;
                                                        case {{ nucleobases.adenine }}:
                                                            label += 'Adenine'
                                                            break;
                                                        case {{ nucleobases.thymine }}:
                                                            label += 'Thymine';
                                                            break;
                                                        case {{ nucleobases.guanine }}:
                                                            label += 'Guanine'
                                                            break;

                                                    }
                                                }
                                                return label;
                                            },
                                            // remove title
                                            title: function () {
                                                return '';
                                            }
                                        }
                                    },
                                }
                            }
                        };

                        chartSeqA = new Chart(
                            document.getElementById('sequenceA'),
                            configA
                        );

                        chartSeqB = new Chart(
                            document.getElementById('sequenceB'),
                            configB
                        );
                        new bootstrap.Modal(document.getElementById('exampleModal')).show()
                    })
            })
        })


        document.getElementById("sequenceB").onclick = function (evt) {
            const points = chartSeqB.getElementsAtEventForMode(evt, 'nearest', {intersect: true}, true);
            if (points.length) {
                const firstPoint = points[0];
                postData('/mapped-points', {chartA: currentGenomeBLabel, chartB: genomeALabel, index: firstPoint.index})
                    .then(data => {
                        chartSeqA.setActiveElements(data.activePoints);
                        document.getElementById('sequenceAContainer').scroll({
                            left: chartSeqA.getDatasetMeta(0).data[data.activePoints[0].index].x - 100,
                            behavior: 'smooth'
                        });
                        chartSeqA.update();
                    });
            }
        };

        document.getElementById("sequenceA").onclick = function (evt) {
            const points = chartSeqA.getElementsAtEventForMode(evt, 'nearest', {intersect: true}, true);
            if (points.length) {
                const firstPoint = points[0];
                postData('/mapped-points', {chartA: genomeALabel, chartB: currentGenomeBLabel, index: firstPoint.index})
                    .then(data => {
                        chartSeqB.setActiveElements(data.activePoints);
                        document.getElementById('sequenceBContainer').scroll({
                            left: chartSeqB.getDatasetMeta(0).data[data.activePoints[0].index].x - 100,
                            behavior: 'smooth'
                        });
                        chartSeqB.update();
                    });
            }
        };

        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            return response.json();
        }
    </script>
{% endblock body %}