{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/dtw.png" alt="" width="400">
        <h1 class="display-5 fw-bold">DNA sequences DTW tool</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome to DNA sequences Dynamic Time Warping tool. Start by uploading .ffn file with DNA sequences in FASTA format</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {{ form_start(form) }}

                {{ form_row(form.file) }}
                {{ form_row(form.submit, {'label': 'Upload'}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}