{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.genomeA, {'value' : existingConfig.genomeA ?? 0, 'label': 'Select Genome A:', 'attr': {'data-live-search': 'true', 'class': 'selectpicker w-100'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.adenine, {'value': existingConfig.adenine ?? null}) }}
        </div>
        <div class="col">
            {{ form_row(form.cytosine, {'value': existingConfig.cytosine ?? null}) }}
        </div>
        <div class="col">
            {{ form_row(form.guanine, {'value': existingConfig.guanine ?? null}) }}
        </div>
        <div class="col">
            {{ form_row(form.thymine, {'value': existingConfig.thymine ?? null}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_row(form.constrained) }}
        </div>
        <div class="col-3">
            {{ form_row(form.bandwidth, {'attr': {'disabled': true}}) }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ form_row(form.submit, {'label': 'Calculate!', 'attr': {'class': 'btn btn-primary mt-4 float-end'}}) }}
        </div>
    </div>

    <script>
        $(function(){
            $('#form_constrained').click(function (){
               if($(this).is(":checked")){
                   $('#form_bandwidth').attr('required', true);
                   $('#form_bandwidth').attr('disabled', false);
               } else {
                   $('#form_bandwidth').attr('required', false);
                   $('#form_bandwidth').attr('disabled', true);
               }
            });
        });
    </script>

    {{ form_end(form) }}
{% endblock body %}